@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
:root {
  font-family: "Roboto Condensed", sans-serif;
}
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* *-----------------------Header--------------------------*/
.app-header {
  background-color: #fff;
  border-bottom: 1px solid;
  font-family: "Roboto Condensed", sans-serif;
}
.app-header a {
  font-size: 1rem;
  padding-top: 10px;
  color: black;
  text-decoration: none;
}
.app-header a:hover {
  text-decoration: underline;
  transition: 0.5;
}
.app-header button {
  border: 1px blue solid;
  margin-top: 10px;
  padding: 5px 10px;
  height: fit-content;
  color: blue;
  background-color: white;
  border-radius: 16px;
}
.app-header button:hover {
  border: white 1px solid;
  background-color: blue;
  color: white;
  transition: 0.5s;
}

/* * ------------------Product Card--------------------*/
.product-card:hover {
  transform: scale(0.9);
  transition: 0.7s;
}
.product-card {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: white;
  margin: 0px !important;
  transform: scale(0.8);
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.product-card img {
  height: 300px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.product-card p {
  margin: 0px;
}
/**------------------------------------------Form Login---------------------------*/
.form-container {
  margin: auto;
}
.form-container input {
  text-transform: capitalize;
  border: none;
}
.form-container input:focus {
  outline: 1px dotted black;
}
.btn-login-form {
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
}
.btn-login-form:hover {
  background-color: black;
  color: white;
  transition: 0.7s;
}
/**------------------------------Product Detail------------------------------------*/
.product-detail-description {
  font-family: "Roboto Condensed", sans-serif;
}
.btn-product-detail {
  border: none;
}
/**---------------------------------Search Product-------------------------------------*/
.btn-search-product {
  border: none;
  padding: 5px 15px;
  margin-left: 10px;
  border-radius: 16px;
}
